<div class="container text-center">
  <h1>About Page</h1>
  <p>We are travel Brik N Mortar. Our company focuses on creating an exclusive community where
  customers, travel enthusiasts and tarvel agents to meet, discuss and eventually make reservations.</p>
</div>